{% extends 'home/base.html' %}
{% load static %}
{% load cart %}
{% load widget_tweaks %}
{% block content %}
<head>
  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>

	<div class="container" style="min-height:720px">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title" style="text-align:center; color: #0275d8;">Your Cart</h2>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr style="text-align:center;">
          <th style="text-align:left;">Name</th>
          <th>IMAGE</th>
          <th style="text-align:left;">DESCRIPTIONS </th>
          <th>PRICE</th>
          <th>QUANTITY</th>
          <th>Remove</th>
          <th>TOTAL</th>
        </tr>
      </thead>

     {% for t in products %}
      <tr style="text-align:center;">
        <td style="text-align:left;"> {{t.name}}</td>
        <td> 
          <img src="{{ t.img.url }}" alt="Profile Pic" height="70px" width="50px" />
        </td>
         <td style="text-align:left;"> {{t.desc}}</td>
        <td> {{t.price}}</td>
        <td>
          <div>
            <form method="post">
              {% csrf_token %}
              <input hidden="" type="text" name="tid" value="{{t.id}}">
              
              <button type="submit" name="minus" class="btn btn-secondary" style="margin-right: 10px;"> - </button>
              <b>{{request|product_amount:t.id}} </b>
              <button type="submit" name="plus" class="btn btn-primary" style="margin-left: 10px;"> + </button>
            
          </div>
        </td>
        <td><button type="submit" name="rm" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></td>
        </form>
        <td>{% single_product_price request t.price t.id %}</td>
      </tr>
       {% endfor %}
      
      <tr style="font-size: 20px;">
        <td colspan="6" style="text-align:right;"><b>TOTAL</b></td>
        <td><b>{% total_price request %} tk</b></td>
      </tr>

    </table>
    <br><br>
    <div style="text-align:center;" >
      <a class="btn btn-secondary" href="/" > <== Continue to Shopping</a>
        {% if user.is_authenticated %}
      <a class="btn btn-success" href="/checkout">Checkout ==> </a>
      {% else %}
      <a class="btn btn-success" href="/login">Checkout ==> </a>
      {% endif %}
    </div>
  </div>
</div>
  <br><br><br>
{% endblock %}