{% load static %}
{% load cart %}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<body>
	{% include 'home/nav.html' %}
	<br><br><br><br><br><br>

	<div class="container" style="min-height:720px">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title" style="text-align:center; color: #0275d8;">Product List</h2>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>IMAGE</th>
          <th>DESCRIPTIONS </th>
          <th>PRICE</th>
          <th>QUANTITY</th>
          <th>Remove</th>
          <th>TOTAL</th>
        </tr>
      </thead>

     {% for t in products %}
      <tr>
        <td> {{t.name}}</td>
        <td> 
          <img src="{{ t.img.url }}" alt="Profile Pic" height="40px" width="40px" />
        </td>
         <td> {{t.desc}}</td>
        <td> {{t.price}}</td>
        <td>
          <div>
            <form method="post">
              {% csrf_token %}
              <input hidden="" type="text" name="tid" value="{{t.id}}">
              <button type="submit" name="plus" >+</button>
              <b>{{request|product_amount:t.id}} </b>
              <button type="submit" name="minus" >-</button>
            
          </div>
        </td>
        <td><button type="submit" name="rm" >rm</button></td>
        </form>
        <td>{{t.price|single_product_price:5}}</td>
      </tr>
    {% endfor %}

    </table>
  </div>
</div>

	{%include 'home/footer.html'%}
</body>
</html>