{% extends 'home/base.html' %}
{% load static %}
{% load cart %}
{% load widget_tweaks %}

{% block content %}
	<div class="container" style="min-height:720px;">
        <div class="row">
        	<!-- cart table view at checkout page-->
            <div class="col-md-6 table-responsive border-primary">
				<table class="table table-bordered table-striped text-center table-hover">
					<h3 class="table-title text-center text-primary">Your cart</h3>
					<thead>
						<tr>
							<th style="text-align: left;">NAME</th>
							<th>IMAGE</th>
							<th>PRICE</th>
							<th>QUANTITY</th>
							<th>TOTAL</th>
						</tr>
					</thead>
					<tbody>
						{% for t in products %}
							<tr>
								<td style="text-align:left;"> {{t.name}}</td>
								<td>
									<img src="{{ t.img.url }}" alt="Profile Pic" height="50px" width="35px" />
								</td>
								<td> {{t.price}}</td>
								<td><b>{{request|product_amount:t.id}} </b></td>
								<td>{% single_product_price request t.price t.id %}</td>
							</tr>
						{% endfor %}
						<tr style="font-size: 20px;">
							<td colspan="4" style="text-align:right;"><b>TOTAL</b></td>
							<td><b>{% total_price request %} tk</b></td>
						</tr>
					</tbody>
				</table>
            </div>
            <!-- shipping address at checkout page -->
            <div class="col-md-6 text-center">
                <h3 class="table-title text-center text-success">Shipping Information</h3>
                <form method="POST" >
                	{% csrf_token %}
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">First Name</span>
                    <input required="" type="text" name="firstName" class="form-control" value="{{user.first_name}}">
                  </div>

                  <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Last Name</span>
                    <input required="" type="text" name="lastName" class="form-control" value="{{user.last_name}}">
                  </div>

                  <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default"> Mobile </span>
                    <input required="" type="text" name="mobile" class="form-control required" value="{{customer.mobile}}">
                  </div>

                  <!-- <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
                    <input required="" type="text" name="address" class="form-control required" value="{{customer.address}}">
                </div> -->
				<div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
                    <textarea required="" type="text" name="address" class="form-control required" id="" rows="8">{{customer.address}}</textarea>
                </div>
                <br> <br>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary"> Place Order </button>
                </div>
                </form>
            </div>
        </div>
       
    </div>
 {% endblock %}