{% extends 'home/base.html' %}
{% load static %}
{% load cart %}

{% block content %}
 <div class="container" style="min-height:720px;">
        <div class="row">

        	<!-- Category sections at home page-->
            <div class="col-md-2 text-left">
            	<br><br>
                <h5 class="text-primary">CATEGORIES</h5>
                <a href="/" class="btn btn-outline-success my-1" style="width: 100%; text-align: left;">All Products </a>
                
                <!-- Here href="/?category={{category.id}}" generates the category link -->
                {% for category in categories %}                
            	<a href="/?category={{category.id}}" class="btn btn-outline-success my-1" style="width: 100%; text-align: left;">{{category}} </a>               
                {% endfor %}

            </div>

            <!-- Product section at home page-->
            <div class="col-md-10 ms-auto py-3">
                <div class="row">
                  {% for product in products %}
                    <div class="col mb-2 d-flex justify-content-center">
                        <div class="card shadow rounded" style="width: 15rem; height: 27rem;">
                            <!-- image -->
                            <a id="{{product.id}}" href="{% url 'product' product.id  %}" class="text-center p-1" style="height: 16rem;">
                            <img src="{{ product.img.url }} " style="max-width: 90%; max-height: 16rem; text-align: center;" class="card-img-top" alt="...">
                            </a>

                            <!-- card body name(max-3 line) & price(max-oneline) -->
                            <div class="card-body" style="max-height: 11rem;">
                              <div style="max-height: 8rem;">
                                  <p class="card-title" style="height: 4rem;">{{product.name}}</p>
                              <h5 class="card-text" style="height: 2rem;">tk {{product.price}}</h5>
                              </div>

                              <!-- card button  -->
                              <form action="/#{{product.id}}" method="post">
                                {% csrf_token %}
                                <input hidden="" type="text" name="idfromhtml" value="{{product.id}}">
                                <!-- Passing value in filter -->
					                {% if product|in_cart:request.session.cart %}
                                <button class="btn btn-danger" type='submit' name='rmvFromCart' style="width: 100%;">Remove from Cart</button>
                                {% else %}
                                <button class="btn btn-primary" type='submit' name='addToCart' style="width: 100%;">Add to Cart</button>
                                {% endif %}
                            
                            </form>
                            </div>

                            </div>
                    </div>
                    {% endfor %}

                          
                    </div>
                </div>
        
        </div>
    </div>

{% endblock content %}