<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Product</title>
	</head>
	<body>
		{% include 'home/nav.html' %}
		<br><br><br><br><br>
		<!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="{{ pd.img.url }}" class="img-fluid"  height= "350px" width="300px" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4" style="text-align:center;">

          	
            <p class="lead"> Price:
             <span> tk {{ pd.price }}</span>
            </p>

            <p class="lead font-weight-bold">Name: {{ pd.name }}</p>

            <p>Desc: {{ pd.desc }}</p>

            <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p" >Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
            </a>

            {{ object.get_quantity_in_chart }}
            <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p" >Remove From cart
                <i class="fas fa-trash ml-1"></i>
            </a>
          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

    </div>
  </main>
  <!--Main layout-->
	</body>
	{% include 'home/footer.html' %}
</html>