{% extends 'admn/adminbase.html' %}
{% load widget_tweaks %}

{% block content %}
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<style type="text/css">
		.btnSubmit {
      border: none;
      border-radius: 1.5rem;
      padding: 20px;
      margin: 20px;
      cursor: pointer;
      background: #0062cc;
      color: #fff;
    }
	</style>
</head>

<section style="min-height:720px;">
	<form method = 'post'>
		{% csrf_token %}
		<br><br><br><br>
		<div style="text-align:center;">
		{% if product %}
		<big>Do U want to delete <span style="color:red;">{{product.name}}</span></big>

		{% elif category %}
		<big>Do U want to delete <span style="color:red;">{{category.categoryName}}</span></big>
		{% endif %}
		<br><br><br>


		<button type="submit" class="btnSubmit">Yes</button>
		<a href="{{request.META.HTTP_REFERER}}" class="btnSubmit">Go back</a>

		<!-- <a href="/admn/product-list"  class="btnSubmit">No</a>
		<a href="/admn/category-list"  class="btnSubmit">No</a> -->

		</div>
		</form>
</section>
{% endblock content %}
