{% extends 'admn/adminbase.html' %}
{% load static %}
{% block content %}
<head>
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> -->
 </head>
  
<br><br>

  <div class="container" style="min-height:720px;">
    <div class="row">
      <div class="col-md-4 col-xl-3">
        <a href="add-category">
        <div class="card bg-c-green order-card">
          <div class="card-block">
            <h6 class="m-b-20"> Add Category </h6>
            <h2 class="text-right"><i class="fas fa-plus-circle f-left"></i>ok</h2>
            
          </div>
        </div>
      </a>
      </div>

      <div class="col-md-4 col-xl-3">
        <a href="category-list">
        <div class="card bg-c-blue order-card">
          <div class="card-block">
            <h6 class="m-b-20"> Total Category </h6>
            <h2 class="text-right"><i class="fas fa-bacon f-left"></i><span>{{total_category}}</span></h2>
            
          </div>
        </div>
      </a>
      </div>
      
    </div>
  </div>

{% endblock %}